<p><img src="assets/8.jpg" style="width:300px;height:300px;margin-right:15px;">
    K.T. Chocolates
    K.T. Chocolates a paradise of home made chocolates is a boon to chocolate lovers. Chocolate is the favorite food item all over the world. Chocolate is a product based on cocoa solid and/or cocoa fat. Chocolate most commonly comes in dark, milk, and white varieties.
    
    K. T. Chocolates was started in 2009 by Mrs. Toral Bhatt. We create our own recipes and being the best of its quality, we didn't fail to savor the taste of the customers.
    
    Our experience in this confection business provided a good feel of satisfaction among our customers. Our Strength is our quality, and gain is your friendship by our friendly service.
    
    We make varieties of chocolates like Plain chocolates, Chocolate treats, Chocolate truffles, Fruit and Nut chocolates, Special chocolates and more. We also take orders on special occasions like Birthdays, Weddings, Valentine's Day and more. We accept bulk orders from corporate sectors.
    
    Giving chocolate gifts and hampers is a tradition nowadays, and you can make your loved ones happy by presenting our chocolates. You can make the occasion sweet and delicious by gifting our Homemade chocolate gifts.</p>
    